/* Estilo para a página de Esqueceu a Senha */

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #F5F5F5; /* Fundo neutro */
    padding: 20px;
    border-radius: 10px;
  }
  
  .forgot-password-card {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    background-color: #FFFFFF; /* Fundo branco para o cartão */
    border-radius: 15px;
  }
  
  .forgot-password-title {
    color: #FAB1B1; /* Cor primária */
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif; /* Fonte cursiva */
  }
  
  .forgot-password-form {
    width: 100%;
  }
  
  .forgot-password-form .form-control {
    margin-bottom: 1rem;
    border: 1px solid #E1BEE7; /* Cor secundária */
    border-radius: 5px;
    padding: 10px;
  }
  
  .forgot-password-form .form-control:focus {
    border-color: #FAB1B1;
    box-shadow: 0 0 5px rgba(250, 177, 177, 0.5);
  }
  
  .forgot-password-form .btn-primary {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: white; /* Cor do texto em branco */
    border-radius: 5px;
    background-color: #FAB1B1; /* Cor primária */
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .forgot-password-form .btn-primary:hover {
    background-color: #F08080; /* Cor mais escura no hover */
    transform: translateY(-2px); /* Efeito de elevação */
    cursor: pointer;
  }
  
  .forgot-password-form .btn-link {
    text-align: center;
    color: #FAB1B1; /* Cor primária */
    text-decoration: none;
  }
  
  .forgot-password-form .btn-link:hover {
    text-decoration: underline;
    color: #F08080; /* Tom mais escuro no hover */
  }
  
  .text-danger {
    color: #FF0000; /* Cor de erro */
    font-size: 0.875rem;
    margin-top: -10px;
  }
  
  .text-success {
    color: #28A745; /* Cor de sucesso */
    font-size: 0.875rem;
    margin-top: -10px;
  }
  
  .forgot-password-back-btn {
    display: block; /* Garante que o botão ocupe toda a largura */
    text-align: center; /* Centraliza o texto */
    color: #Fff; /* Cor primária */
    font-weight: bold; /* Texto em negrito */
    text-decoration: none; /* Remove o sublinhado */
    margin-top: 1rem; /* Espaçamento superior */
    transition: color 0.3s ease, transform 0.2s ease; /* Efeitos de transição */
  }
  
  .forgot-password-back-btn:hover {
    color: #fff; /* Tom mais escuro no hover */
    text-decoration: underline; /* Adiciona sublinhado no hover */
    transform: translateY(-2px); /* Efeito de elevação */
    cursor: pointer; /* Indica que é clicável */
  }
  