.home-container {
  background-color: #F5F5F5; /* Cor de fundo suave */
  padding: 20px;
}

.hero-section {
  text-align: center;
  padding: 10px 20px; /* Aumenta o padding para dar mais espaço */
  background-image: url('https://source.unsplash.com/1600x900/?shoes,female'); /* Imagem de fundo representativa */
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px; /* Aumentado para mais espaçamento */
  position: relative; /* Para o pseudo-elemento */
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido para melhorar a legibilidade do texto */
  border-radius: 8px;
  z-index: 1; /* Coloca o pseudo-elemento abaixo do texto */
}

.hero-title {
  font-family: 'Playfair Display', serif; /* Fonte elegante */
  font-size: 48px; /* Aumenta o tamanho do título */
  margin-bottom: 10px;
  position: relative; /* Para garantir que fique acima do pseudo-elemento */
  z-index: 2; /* Coloca o texto acima do fundo */
}

.hero-subtitle {
  font-size: 24px; /* Aumenta o tamanho da fonte do subtítulo */
  margin-bottom: 20px;
  z-index: 2; /* Coloca o texto acima do fundo */
  color: #c08e8e;
}

.featured-products {
  margin-top: 20px;
}

.section-title {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background-color: #FFF;
  border: 1px solid #E1BEE7; /* Borda leve */
  border-radius: 5px;
  padding: 10px; /* Diminuindo o padding */
  margin: 10px;
  width: 180px; /* Tamanho reduzido dos produtos */
  text-align: center;
  transition: transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
  height: 95% !important;
}

.product-card:hover {
  transform: scale(1.05); /* Efeito de destaque ao passar o mouse */
}

.product-image {
  width: 60%;
  height: 60% !important;
  border-radius: 5px; /* Borda arredondada na imagem */
}

.product-name {
  font-weight: bold;
  margin-top: 8px; /* Ajuste para melhor espaçamento */
}

.product-price {
  color: #e63946; /* Cor para o preço */
  font-weight: bold;
  margin: 5px 0;
}

.product-description {
  color: #333; /* Cor da descrição */
  font-size: 14px; /* Tamanho da fonte ajustado para descrição */
  margin: 0; /* Remove margem para manter o card compacto */
}

/* Adicionando estilo para as bolinhas de cores disponíveis */
.product-colors {
  display: flex;
  justify-content: center;
  margin-top: 5px; /* Espaçamento entre a descrição e as cores */
}

.color-bullets {
  display: flex; /* Usando flexbox para as bolinhas de cor */
  justify-content: center; /* Centralizando as bolinhas */
  margin-top: 5px; /* Espaço acima das bolinhas */
}

.color-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Fazendo a bolinha redonda */
  margin: 0 5px; /* Espaçamento entre as bolinhas */
  border: 1px solid #ccc; /* Borda leve para destaque */
}

.card-img, .card-img-bottom, .card-img-top {
  width: 61% !important; /* Ajuste de largura para imagem */
}

/* Home.css */
.image-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto; /* Scroll horizontal em telas menores */
  max-height: 95vh; /* Limita a altura do modal para garantir que ele não exceda a tela */
}

.zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Suaviza o efeito de zoom */
}

.zoom-image:hover {
  transform: scale(2.5); /* Ajuste o valor para a intensidade do zoom */
  cursor: zoom-out;
}

/* Estilos responsivos para o modal de imagem */
/* Estilos responsivos para o modal de imagem */
@media (max-width: 768px) {
  .zoom-image {
    max-width: 90%; /* Aumenta a imagem para ocupar mais do espaço disponível */
    height: auto;
  }
  .modal-dialog {
    max-width: 100%;
    margin: 0;
    height: 80%;
  }

  .zoom-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    margin-bottom: 5px; /* Espaço entre imagens */
  }

  .modal-body .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .product-image {
    width: 80% ; /* Aumenta a largura da imagem */
    height: auto; /* Ajusta a altura automaticamente */
    border-radius: 5px; /* Borda arredondada */
  }

  .zoom-image {
    width: 90%; /* Aumenta a largura da imagem dentro do contêiner */
    max-width: 350px; /* Define um tamanho máximo maior para as imagens */
    transition: transform 0.1s ease-out;
    transform-origin: center center; /* Centraliza o ponto de origem do zoom */
    margin-bottom: 10px; /* Espaço extra para separar imagens em dispositivos móveis */
  }

  .zoom-image:hover {
    transform: scale(2.5); /* Intensidade do zoom */
    cursor: zoom-out;
  }
}
