.shipping-calculator {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f9fc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Adiciona padding interno para mais espaço */
  width: 100%; /* Garante que ocupe toda a largura do container pai */
  max-width: 400px; /* Limita a largura máxima para evitar que fique muito grande */
  margin: 0 auto; /* Centraliza o componente */
}

.shipping-title {
  font-weight: bold;
  color: #333;
  font-size: 1.2em; /* Tamanho maior para o título */
  margin-bottom: 10px; /* Espaço abaixo do título */
}

.shipping-label {
  color: #555;
  margin-bottom: 5px; /* Espaço entre o label e o campo de input */
  font-size: 0.9em; /* Tamanho de fonte ajustado */
}

.shipping-input {
  width: 100%; /* Garantir que o input ocupe toda a largura disponível */
  padding: 8px; /* Adiciona espaçamento interno */
  border-radius: 4px;
  border: 1px solid #ccc; /* Borda suave */
  font-size: 1em; /* Tamanho de fonte confortável */
  margin-bottom: 15px; /* Espaço entre os inputs */
}

.shipping-button {
  background-color: #E1BEE7;
  border: none;
  color: white;
  padding: 1px 1px 1px; /* Aumenta o tamanho do botão */
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s; /* Adiciona transição suave */
  width: 80%; /* O botão ocupa toda a largura disponível */
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.shipping-button:hover {
  background-color: #F08080;
  transform: translateY(-2px); /* Efeito de leve elevação */
  cursor: pointer;
}

.shipping-cost {
  font-weight: bold;
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  color: #28a745; /* Cor verde para destacar o custo de envio */
  margin-top: 10px; /* Adiciona espaço no topo */
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .shipping-calculator {
      padding: 15px; /* Reduz padding em telas menores */
      max-width: 100%; /* Ocupar toda a largura em telas pequenas */
  }

  .shipping-button {
      padding: 12px 25px; /* Botão um pouco maior em telas pequenas */
  }
}
